<nav class="navbar rmts-header">
  <div class="container">
    <div class="navbar-header">
      <a class="link" [routerLink]="['/dashboard']">
        <img src="../../img/RotaryMBS_REV.png" class="logo">
      </a>
    </div>
    <div class="center">
      <a class="link" [routerLink]="['/dashboard']">Dashboard</a>
      <a class="link" [routerLink]="['/prospect']">Leden overzicht</a>
      <a class="pull-right link" [routerLink]="['/']">Uitloggen</a>
      <a class="pull-right link" onclick="this.removeLoggedinUser()" [routerLink]="['/settings']">Instellingen</a>
    </div>
  </div>
</nav>
