<nav class="navbar rmts-header">
  <div class="container">
    <div class="navbar-header">
      <a class="link" [routerLink]="['/dashboard']">
        <img src="../../img/RotaryMBS_REV.png" class="logo">
      </a>
    </div>
    <div class="center">
      <a class="link" [routerLink]="['/dashboard']">{{ "header-dashboard" | translate }}</a>
      <a class="link" [routerLink]="['/prospect']">{{ "header-overview" | translate }}</a>
      <a class="pull-right link clickable" (click)="setLangague('nl')">NL</a>
      <a class="pull-right link clickable" (click)="setLangague('en')">EN</a>
      <a class="pull-right link" [routerLink]="['/']">{{ "header-logout" | translate }}</a>
      <a class="pull-right link" onclick="this.removeLoggedinUser()" [routerLink]="['/settings']">{{ "header-settings" | translate }}</a>
    </div>
  </div>
</nav>
