<div class="container" id="container-login">
  <div class="login-container col-md-7">
    <img src="../../img/RotaryMBS_RGB.png" alt="" id="rotary-logo-login">
    <div id="input-container">
      <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
        <div class="form-group">
          <h4>Gebruikersnaam</h4>
          <input type="text" class="form-field" name="username" style="width: 100%" ngModel>
          <h4>Wachtwoord</h4>
          <input type="password" class="form-field" name="password" style="width: 100%" ngModel>
        </div>
        <button class="btn-block btn-primary" style="height: 50px" type="submit">Login</button>
      </form>
    </div>
  </div>
</div>
