<rmts-header></rmts-header>
<br>
<div class="container">
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <div class="details-container" id="details-container personal">

      <h1>Actie aanpassen</h1>
      <div class="form-background">
        <div class="form-group">
          <h4>Door <span class="required-field">*</span></h4>
          <select class="form-field minimal" style="width:100%" [(ngModel)]="user" name="user" required>
            <option *ngFor="let u of users" [selected]="user?.id == u.id">
              {{ u.name }}
            </option>
          </select>

          <h4>Met <span class="required-field">*</span></h4>
          <select class="form-field minimal" style="width:100%" [(ngModel)]="prospect" name="prospect" required>
            <option *ngFor="let p of prospects" [selected]="prospect?.id == p.id">
              {{ p.fullName }}
            </option>
          </select>

          <h4>Activiteit <span class="required-field">*</span></h4>
          <select class="form-field minimal" style="width:100%" [(ngModel)]="actiontype" name="actiontype" required>
            <option *ngFor="let a of actiontypes" [selected]="actiontype?.id == a.id">
              {{ a.content }}
            </option>
          </select>

          <h4>Datum en tijd <span class="required-field">*</span></h4>
          <input #date [value]='dateString'  type="datetime-local"
                 class="form-field" id="date" style="width:100%" name="date" autocomplete="off" required>

          <h4>Locatie <span class="required-field">*</span></h4>
          <input [(ngModel)]="action.location" type="text" class="form-field" id="location" style="width:100%"
                 name="location" autocomplete="off" ngModel>

          <h4>Beschrijving <span class="required-field">*</span></h4>
          <input [(ngModel)]="action.description" type="text" class="form-field" id="description" style="width:100%"
                 name="description" autocomplete="off" ngModel>

        </div>
      </div>
    </div>

    
  </form>
  <button class="btn-primary btn-block" (click)="onSubmit(date.value)">Opslaan</button>
</div>
<br>
<br>
