<div *ngIf="addAppointmentModalVisible == true"> 
<appointment-modal (onButtonClicked)="hideAppointmentModal()"></appointment-modal>
</div>
<rmts-header></rmts-header>
<div class="prospect-details-wrapper">
  <div class="container">
    <div class="col-md-4"> 
      <h2>Gegegevens</h2>
      <div class="prospect-data">
        <div class="col-md-12" style="padding:0px !important">
          <div class="col-md-8" style="padding:0px !important">
            <h3 id="name">{{Prospect.fullName}}</h3> 
            <div *ngIf="Prospect.profession != undefined">
            <h4 id="profession">{{Prospect.profession.name}}</h4>
            </div> 
            <div *ngIf="Prospect.address != undefined"> 
            <h4 id="street">{{Prospect.address.street}} {{Prospect.address.houseNumber}}</h4>
            <h4 id="zip-code">{{Prospect.address.zipcode}}</h4>
            <h4 id="city">{{Prospect.address.city}}</h4>
            <h4 id="email">{{Prospect.emailAddress}}</h4>
            <h4 id="phone">06 456 890 34</h4>
            </div>
          </div>
          <div class="col-md-4" style="padding:0px !important"> 
            <div *ngIf="Prospect.imageUrl != undefined">
              <img id="profile-picture" [src]="Prospect.imageUrl" alt="">
            </div>
          </div>
          <hr>
        </div>
        <div class="col-md-12" style="padding:0px !important">
          <p id="prospect-description">
            {{Prospect.description}}
          </p>
          <a href="#" class="button-edit">BEWERKEN</a>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h2>Traject</h2> 
      <button style="width: 100%" type="submit" (click)="showAppointmentModal()" class="btn-form-submit">NIEUWE AFSPRAAK</button>
      <ul id="appointments-overview">
        <li  *ngFor = "let Action of Actions" class="appointment">
          <div class="appointment-title">
            <div class="appointment-check"[ngClass]=" Action.completed==true ? ' checked' : ' '"></div>
            <div class="appointment-status-content">
              <h3 class="activity-title">{{Action.actionType.content}}</h3>
              <h4 class="activity-status">{{Action.date}}, {{Action.user.name}}</h4>
              <p class="activity-description">
                {{Action.description}}
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
