<div *ngIf="addAppointmentModalVisible == true">
  <appointment-modal (onButtonClicked)="hideAppointmentModal()"></appointment-modal>
</div>
<div *ngIf="completeAppointmentModalVisible == true">
  <complete-action-modal [prospectId]='Prospect.id' (onButtonClicked)="hideCompleteActionModal()"></complete-action-modal>
</div>
<rmts-header></rmts-header>
<div class="prospect-details-wrapper">
  <div class="container">
    <div class="col-md-4">
      <h2>Gegegevens</h2>
      <div class="prospect-data">
        <div class="col-md-12" style="padding:0px !important">
          <div class="col-md-8" style="padding:0px !important">
            <h3 id="name">{{Prospect.fullName}}</h3>
            <div *ngIf="profession != undefined">
              <h4 id="profession">{{profession.name}}</h4>
            </div>
            <div *ngIf="address != undefined">
              <h4 id="street">{{address.street}} {{address.houseNumber}}</h4>
              <h4 id="zip-code">{{address.zipcode}}</h4>
              <h4 id="city">{{address.city}}</h4>
              <h4 id="email">{{emailAddress}}</h4>
              <h4 id="phone">{{Prospect.phoneNumber}}</h4>
            </div>
          </div>
          <div class="col-md-4" style="padding:0px !important">
            <img id="profile-picture" src="{{Prospect.imageUrl || 'http://www.spoorenpartners.nl/images/team/NoPersonPicture.jpg'}}"
              alt="">
          </div>
          <hr>
        </div>
        <div class="col-md-12" style="padding:0px !important">
          <p id="prospect-description">
            {{Prospect.description}}
          </p>
        </div>
        <a [routerLink]="['/prospect/edit/', Prospect.id]" class="btn-link pull-down">BEWERKEN</a>
      </div>
    </div>
    <div class="col-md-8">
      <h2>Traject</h2>
      <button style="width: 100%" type="submit" (click)="showAppointmentModal()" class="btn-primary btn-block">NIEUWE AFSPRAAK</button>
      <ul id="appointments-overview">
        <li *ngFor="let Action of Actions" class="appointment">
          <div class="appointment-title">
            <div (click)=showCompleteActionModal($event) class="appointment-check" [ngClass]=" Action.completed ? ' checked' : ' '" [attr.id]="Action.id"></div>
            <div class="appointment-status-content">
              <h3 class="activity-title">{{Action.actionType.content}}</h3>
              <h4><a [routerLink]="['/action/edit', Action.id]" class="fa fa-pencil item-icons clickable" aria-hidden="true"
                  [id]="Action.id" style="float: right"></a></h4>
              <h4 class="activity-status">{{Action.date | date:"dd-MM-yyyy 'om' HH:mm"}} door {{Action.user.name}}</h4>
              <p class="activity-description">
                {{Action.description}}
              </p>
              <!--<a [routerLink]="['/action/edit/', Action.id]">Bewerken</a>-->
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>