h3 {
    font-weight: bold;
    color: #0c3c7c;
}

p {
    font-size: 1.2em;
}

.button-container {
    float: right;
    padding-top: 2%;
    padding-bottom: 5%;
}

.btn-modal {
    font-size: 1.2em;
    padding-left: 1vw;
    padding-bottom: 10vh;
}

.modal-container{ 
    z-index:1000; 
    background-color: white; 
    width:700px; 
    min-height: fit-content; 
    position: absolute; 
    margin: 0 auto;
    top: 30%;  
    left:30%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}  