<div class="blur">
    <div class="overlay">
        <div class="modal-container">
            <div class="custom-modal-content">
                <h3>Activiteit aanpassen</h3>
                <p>Pas de omschrijving van het Activiteit '{{Action?.content}}' aan.</p>
                <br>
                <H4>Omschrijving<span class="required-field"> *</span></H4>
                <input type="text" class="form-field" [(ngModel)]="Action.content">
                <br>
                <div class="button-container">
                    <a (click)="editAction()" class="btn-link clickable btn-modal">aanpassen</a>
                    <a (click)="close()" class="btn-link clickable btn-modal">ANNULEREN</a>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>