<div class="blur">
    <div class="overlay">
        <div class="modal-container">
            <div class="custom-modal-content">
                <h3>Nieuwe Afspraak</h3>
                <p>Hier komt een mooie beschrijving! wat leuk!</p>
                <br>
                <H4>Activiteit<span class="required-field"> *</span></H4>

                <select class="form-field minimal" style="width:100%;" [(ngModel)]="test">
                        <option *ngFor="let action of ActionTypes"  [value]="action.id">{{action.content}}</option>
                    </select>
                <h4>Datum<span class="required-field"> *</span></h4>
                <input type="date" [(ngModel)]="Appointment.date" class="form-field" name="date" placeholder="Datum">
                <br>
                <div class="button-container">
                    <a type="submit" (click)="submitForm()" class="btn-link clickable btn-modal">Toevoegen</a>
                    <a (click)="close()" class="btn-link clickable btn-modal">ANNULEREN</a>
                </div>
            </div>
        </div>
    </div>
</div>
