<div> 
<div class="blur">
<div class="overlay">
<div class="modal-container"> 
  <div class="custom-modal-content">
      <h3 class="custom-modal-title">Nieuwe Afspraak</h3> 
 <!--<select class="form-field" style="width:100%;" (change)="onchange(action.content)" [(ngModel)]="Appointment.actionType">
      <option *ngFor="let action of ActionTypes"  
      [value]="action" >{{action.content}}</option>
  </select>-->
  <select class="form-field" style="width:100%;" [(ngModel)]="test">
      <option *ngFor="let action of ActionTypes"  [value]="action.id">{{action.content}}</option>
</select>
        <input type="date"  [(ngModel)]="Appointment.date" class="form-field" name="date" placeholder="Datum">  
        <br>
    </div>   
    <div class="modal-buttons"> 
          <h4><a (click)="submitForm()" href="#">TOEVOEGEN</a></h4>
          <h4><a (click)="close()"href="#">ANNULEREN</a></h4>
    </div>

</div>
</div>
</div>