<div> 
<div class="blur">
<div class="overlay">
<div class="modal-container"> 
  <div class="custom-modal-content">
      <h3 class="custom-modal-title">Status Bewerken</h3> 
  <input type="text" class="form-field" style="width:100%" [(ngModel)]="Status.content" [attr.placeholder]="Status?.content"> 
        <br>
    </div>   
    <div class="modal-buttons"> 
          <h4><a (click)="editStatus()" href="#">TOEVOEGEN</a></h4>
          <h4><a (click)="close()"href="#">ANNULEREN</a></h4>
    </div>

</div>
</div>
</div>