<rmts-header></rmts-header>
<div class="container">
  <!--Search bar-->
  <div class="group">
    <input type="text" id="memver-search-bar" class="material-search" (click)="reloadMembers()"
           [(ngModel)]="name" placeholder="Zoek..." autofocus>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label><i></i></label>
  </div>
  <!--http://84.24.199.0/RMTS/audio/snackbar.mp3-->
  <!--End search bar-->
  <!--Member filter-->
  <div class="row">
    <div class="col-md-6">
      <div class="member-filter">
        <select class="form-field minimal" style="width: 100%" (change)="onChange($event.target.value)">
          <option *ngFor="let s of statusses" [ngValue]="status" [selected]="s?.id == status.id" [value]="s.id">
            {{ s.content }}
          </option>
          <option>
            Alle
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-3 btn-link">
      <div class="material-button-switch link">
        Lid toevoegen
      </div>
    </div>
    <div class="col-md-3 btn-link">
      <div *ngIf="narrowOverview == false">
        <!--Wide-->
        <div class="material-button-switch link" (click)="invertOverviewType()">
          Toon smal overzicht
        </div>
      </div>
      <div *ngIf="narrowOverview == true">
        <!--Narrow-->
        <div class="material-button-switch link" (click)="invertOverviewType()">
          Toon breed overzicht
        </div>
      </div>

    </div>
  </div>
  <!--End member filter-->


  <div *ngIf="narrowOverview == false">
    <!--Wide Member overview-->
    <ul id="member-list">
      <li *ngFor="let prospect of prospects|search:name" class="member-wrapper">
        <div class="member-card"><a [routerLink]="['/prospect/', prospect.id]">
          <div class="col-md-6">
            <div class="crop img-container pull-left">
              <img src="{{prospect.imageUrl || 'http://www.spoorenpartners.nl/images/team/NoPersonPicture.jpg'}}"
                   alt="..."/>
            </div>
            <div class="member-short">
              <h1 class="member-name">
                {{prospect.fullName}}
              </h1>
              <h3 class="member-function">{{prospect.profession}}</h3>
            </div>
          </div>
        </a>
          <div class="col-md-6">
            <div class="verticalLine">
              <div class="member-details">
                <div class="vertical-center">
                  <div *ngIf="prospect.address != null">
                    <p class="member-address">{{prospect.address.street}} {{prospect.address.houseNumber}}</p>
                    <p class="member-address details">{{prospect.address.city}} {{prospect.address.zipcode}}</p>
                  </div>

                  <div *ngIf="prospect.address == null">
                    <p class="member-address">
                      <a [routerLink]="['/prospect/edit', prospect.id]">
                        Adresegegevens aanvullen
                      </a>
                    </p>
                  </div>

                  <p class="member-address">
                    <a href="mailto:{{prospect.emailAddress}}">{{prospect.emailAddress}}</a>
                    <br>
                    <a href="tel:{{prospect.phoneNumber}}">{{prospect.phoneNumber}}</a>
                  </p>

                </div>
              </div>
            </div>
            <!--Niet alle statussen hebben een kleur, vandaar weggecomment-->
            <!--<div [ngClass]="prospect.status.content" class="member-status">
            </div>-->
          </div>
        </div>
      </li>
    </ul>
    <!--End wide member overview-->
  </div>
  <div *ngIf="narrowOverview == true">

    <!--Start labels on top-->
    <div class="col-md-12">
      <div class="col-md-5 narrow-small">
        <h4>Naam &amp; Beroep</h4>
      </div>
      <div class="col-md-3 narrow-small">
        <h4>Adres</h4>
      </div>
      <div class="col-md-3 narrow-small">
        <h4>Contact</h4>
      </div>
    </div>
    <!--End labels on top-->

    <!--Narrow member overview-->
    <ul id="member-list-narrow" style="list-style: none">
      <li *ngFor="let prospect of prospects|search:name" class="member-wrapper">
        <div class="member-card-narrow">
          <div class="col-md-12">
            <a [routerLink]="['/prospect/', prospect.id]">
              <div class="col-md-5 narrow-item-big">
                {{prospect.fullName}}, {{prospect.profession}}
              </div>
            </a>
            <div class="col-md-4 narrow-item-small">
              <p>
                <span *ngIf="prospect.address != null">
                  {{prospect.address.street}} {{prospect.address.houseNumber}}<br>
                  {{prospect.address.zipcode}} {{prospect.address.city}}
                </span>
                <span *ngIf="prospect.address == null">
                  <a [routerLink]="['/prospect/edit', prospect.id]">Gegegevens aanvullen</a>
                </span>
              <p>
            </div>
            <div class="col-md-3 narrow-item-small">
              <a href="mailto:{{prospect.emailAddress}}">{{prospect.emailAddress}}</a>
              <br>
              <a href="tel:{{prospect.phoneNumber}}">{{prospect.phoneNumber}}</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <!--End narrow member overview-->
  </div>
</div>
