<rmts-header></rmts-header>
<div class="container">
  <!--Search bar-->
  <div class="group">
    <input type="text" id="memver-search-bar" class="material-search" (click)="reloadMembers()" [(ngModel)]="name" placeholder="Zoek...">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label><i></i></label>
  </div>
  <!--End search bar-->
  <!--Member filter-->
  <div class="row">
    <div class="col-md-10">
      <div class="member-filter">
        <ul class="member-filters">
          <li class="member-filter-item">
            <a (click)="filterMember($event)" attr="active" class="member-filter-status status-accepted">Actief</a>
          </li>
          <li class="member-filter-item">
            <a (click)="filterMember($event)" attr="non-active" class="member-filter-status status-non-active">Non-actief</a>
          </li>
          <li class="member-filter-item">
            <a (click)="filterMember($event)" attr="ended" class="member-filter-status status-ended">Beëindigd</a>
          </li>
          <li class="member-filter-item">
            <a (click)="filterMember($event)" attr="denied" class="member-filter-status status-denied">Geweigerd</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-2">
      <a routerLink="add">
        <div class="material-button">
          <a class="add-link" routerLink="add">+</a>
        </div>
      </a>
    </div>
  </div>
  <!--End member filter-->
  <!--Member overview-->
  <ul id="member-list">
    <li *ngFor="let prospect of prospects|search:name" class="member-wrapper">
      <div class="member-card">
        <div class="col-md-6">
          <div class="crop img-container pull-left">
            <img src="{{prospect.imageUrl || 'http://www.spoorenpartners.nl/images/team/NoPersonPicture.jpg'}}" alt="..." />
          </div>
          <!--<div class="img-container pull-left">
            <img src="{{prospect.imageUrl}}" alt="" class="profile-picture img">
          </div>-->
          <div class="member-short">
            <h1 class="member-name">
              <a [routerLink]="['/prospect/', prospect.id]"> {{prospect.fullName}} </a>
            </h1>
            <h3 class="member-function">{{prospect.profession.name}}</h3>
          </div>
        </div>
        <div class="col-md-6">
          <div class="verticalLine">
            <div class="member-details">
              <div *ngIf="prospect.address != null">
                <h4 class="member-address">{{prospect.address.street}} {{prospect.address.houseNumber}}</h4>
                <h4 class="member-address-details">{{prospect.address.city}} {{prospect.address.zipcode}} </h4>
                <h4 class="member-address">{{prospect.emailAddress}}</h4>
                <h4 class="member-address-details">{{prospect.phoneNumber}}</h4>
              </div>
              <div *ngIf="prospect.address == null">
                <h4 class="member-address btn-link btn-center"><a [routerLink]="['/prospect/edit', prospect.id]">Gegegevens aanvullen</a></h4>
              </div>
            </div>
          </div>
          <div [ngClass]="prospect.status.content" class="member-status">
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>