.add-link{
    text-decoration: none;
}

.member-address{
    font-size: 1.3em;
}

.vertical-center {
    position: absolute;
    top: 50%; left: 32%;
    transform: translate(-50%,-50%);
    height: 50%;
    width: 50%;
}


#member-list-narrow {
  padding-top:35px;
  list-style: none;
}

.member-card-narrow {
  margin-top: 20px;
  padding-top: 15px;
  width: 100%;
  height: auto;
  min-height: 100px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.narrow-item-big{
  font-size: 2em;
  padding-top:13px;
}

.narrow-item-small{
  font-size: 1.5em;
  padding-top: 3px;
}

