<rmts-header></rmts-header>
<br>
<div class="container">
  <form [formGroup]="potentialForm" (ngSubmit)="onSubmit()">
    <div class="details-container" id="details-container personal">

      <h1>Nieuw potentieel lid toevoegen</h1>

      <div class="form-background">
        <div class="form-group">

          <div class="col-md-12">
            <h4>Voornaam <span class="required-field">*</span></h4>
            <input class="form-field col-md-6" type="text" formControlName="voornaam" required>
          </div>

          <div class="col-md-12">
            <h4>Tussenvoegsel</h4>
            <input class="form-field col-md-3" type="text" formControlName="tussenvoegsel">
          </div>

          <div class="col-md-12">
            <h4>Achternaam <span class="required-field">*</span></h4>
            <input class="form-field col-md-6" type="text" formControlName="achternaam" required>
          </div>

          <div class="col-md-12">
            <h4>Emailadres <span class="required-field">*</span></h4>
            <input class="form-field col-md-6" type="email" formControlName="emailaddress" required>
          </div>

          <div class="col-md-12">
            <h4>Telefoonnummer <span class="required-field">*</span></h4>
            <input class="form-field col-md-6" type="number" formControlName="phonenumber" required>
          </div>

          <div class="col-md-12">
            <h4>Beroep <span class="required-field">*</span></h4>
            <input class="form-field col-md-6" type="text" formControlName="beroep" required>
          </div>

          <div class="col-md-12">
            <h4>Status <span class="required-field">*</span></h4>
            <select class="form-field minimal col-md-6" [(ngModel)]="status"
                    formControlName="status" required>
              <option *ngFor="let status of statuses" [ngValue]="status">
                {{status.content}}
              </option>
            </select>
          </div>

          <div class="col-md-12">
            <h4>Motivatie <span class="required-field">*</span></h4>
            <textarea class="col-md-12 form-field form-textarea" formControlName="beschrijving"
                      cols="30" rows="10"></textarea>
          </div>

          <button type="submit" class="btn-primary btn-block" style="width: 49%; margin-left: 15px">Toevoegen</button>

          <div class="col-md-12">
            <hr>
          </div>


        </div>
      </div>
    </div>
  </form>
  <br><br><br>
</div>
