<div class="container" style="margin-top:40px">
<form >
{{diagnostic}}
  <br>     
  <div class="row"> 
    <input class="col-md-12" type="text" [(ngModel)] = "prospect.firstName" name="voornaam" placeholder="voornaam"> 
    </div>
  <br>  
  <div class="row"> 
   <input class="col-md-3 " type="text" [(ngModel)] = "prospect.infix" name="voornaam" placeholder="tussenvoegsel"> 
   <input class="col-md-8  col-md-offset-1" type="text" [(ngModel)] = "prospect.surName" name="voornaam" placeholder="achternam"> 
   </div>
  <br> 
  <div class="row"> 
  <input class="col-md-8" type="text" name="beroep" [(ngModel)] = "prospect.profession.name" placeholder="beroep"> 
    <select class="col-md-3 col-md-offset-1" [(ngModel)] = "prospect.status.content" name="status" id="">
  <option *ngFor="let status of status" [value]="status">{{status}}</option>
  </select>
  </div>
  <br>
  <textarea class="col-md-12" name="beschrijving" placeholder="beschrijving" [(ngModel)]="prospect.description" id="" cols="30" rows="10"></textarea>   
  
  <button type="submit" (click)="submit()" >Submit</button>
  </form>
</div>

    <!--id:number; 
    name:string; 
    phoneNumber:string;
    address:Address;
    profession:Profession; 
    socialLinks:SocialLinks; 
    status:Status;   
    emailAddress:String; 
    imageLink:String  
    //TODO: ImageLink
    constructor(values: Object = {}) {
    Object.assign(this, values); -->