#tab-group {
  margin-top: 50px !important;
  margin: 0 auto;
  width: 500px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  font-weight: bold;
  text-transform: uppercase;
}

.tabs:hover,
.btn-login:hover {
  cursor: pointer;
}

#tab-group .tabs {
  line-height: 50px;
  height: 50px;
  display: inline-block;
  background-color: #0c3c7c;
  width: 50%;
  box-sizing: border-box;
  padding: 0;
  float: left;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.selected {
  background-color: #fff !important;
  color: #0c3c7c !important;
}

.items-today {
  margin-top: 160px;
}

.item {
  list-style: none;
  height: 100px;
}

table {
  margin: 0 auto;
  width: 100%;
}

.item-wrapper {
  height: 100%;
  margin-left: 70px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 90%;
  margin-top:20px;
}

.appointment-date,
.appointment-by {
  width: 15%;
}

.appointment-with,
.appointment-type {
  width: 35%;
}

th,
td {
  clear: both;
  padding: 0px 20px 0px 20px;
} 

th:not(:first-child),
td:not(:first-child){ 
      border-left: 1px solid #0c3c7c;
}

td {
  padding-top: 0px;
}


td>h4 {
  font-weight: 400;
}

th {
  margin-top: 10px !important;
}

.table-container {
  height: 100%; 
  padding-top: 10px; 
  background-color: #fff;
}

.items-this-week, .items-this-month{ 
  margin-top:50px;
}


/*NEW*/

h4 {
  font-size: 1.4em;
}

h3 {
  margin-top: 6.5vh;
  margin-left: 4vw;
  font-size: 2em;
}

.action-background {
    height: 100%;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-left: 3vw;
    position: relative;
}

.vertical-line {
  border-right: 1px solid #bab6b3;
  position: absolute;
  left: 95%;
  top:10%;
  bottom: 10%;
}

.nogwat {
    height: 100%;
}

.action {
  height: 10vh;
  margin-bottom: 2vh;
  position: relative;
  width: 100%;
}

.header {
  font-weight: 600;
}

.check {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: transparent;
  border: 2px solid white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  line-height: 100% ;

  position: absolute;
  top: 0; bottom: 0; left: 0;
  margin: auto;
}

.checked {
  background-color: #1bd442 !important;
}

.text {
     position: absolute;              
   top: 50%;                        
   transform: translate(0, -50%)    
}