<rmts-header></rmts-header>
<div class="container">
  <ul id="tab-group">
    <li (click)="showMyActions($event)" id="myAppointmentsTab" class="tabs">Mijn Afspraken</li>
    <li (click)="showAllActions($event)" id="allAppointmentsTab" class="tabs selected">Alle Afspraken</li>
  </ul>
  <br>
  <div *ngFor="let list of ActionOverview?.all">
    <h3 *ngIf="list.list.length > 0">{{list.name}}</h3>
    <div *ngFor="let action of list?.list">
      <div class="container action">
        <div class="check col-md-2" [ngClass]="action.completed == true ? 'checked' : ''"></div>
        <div class="col-md-10 action-background">
          <div class="col-md-2 nogwat">
            <div class="text">
              <h4 class="header">{{action?.date | date:"dd-MM-yyyy"}}</h4>
              <h4>{{action?.date | date:"HH:mm"}}</h4>
            </div>
            <div class="vertical-line"></div>
          </div>
          <div class="col-md-4 nogwat">
            <div class="text">
              <h4 class="header">{{action.actionType.content}}</h4>
              <h4>{{action.location}}</h4>
            </div>
            <div class="vertical-line"></div>
          </div>
          <div class="col-md-4 nogwat">
            <div class="text">
              <h4 class="header">Afspraak met</h4>
              <h4>{{action?.prospect.fullName}}</h4>
            </div>
            <div class="vertical-line"></div>
          </div>
          <div class="col-md-2 nogwat">
            <div class="text">
              <h4 class="header">Door</h4>
              <h4>{{action?.user.name}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>