<rmts-header></rmts-header>
<div class="container">
  <ul id="tab-group">
    <li class="tabs selected">Mijn Afspraken</li>
    <li class="tabs">Alle Afspraken</li>
  </ul>
  <div class="items-today">
    <h3>Vandaag</h3>
    <ul class="overview-today">
      <li class="item">
        <div class="check">
        </div>
        <div class="item-wrapper"> 
          <div class="table-container">
          <table>
              <th class="appointment-date"><h4>12-12-2017</h4></th>
              <th class="appointment-type"><h4>Lunch</h4></th>
              <th class="appointment-with"><h4>Afspraak met</h4></th>
              <th class="appointment-by"><h4>Door</h4></th> 
              <tr> 
                <td><h4>12:30</h4></td>  
                <td><h4>Cafetaria de Tramhalte</h4></td> 
                <td><h4>Bas van Wijk</h4></td>
                <td><h4>Casper</h4></td>
              </tr>
          </table>
          </div>
        </div>
      </li>
    </ul>
  </div>
    <div class="items-this-week">
    <h3>Deze Week</h3>
    <ul class="overview-today">
      <li class="item">
        <div class="check">
        </div>
        <div class="item-wrapper"> 
          <div class="table-container">
          <table>
              <th class="appointment-date"><h4>12-12-2017</h4></th>
              <th class="appointment-type"><h4>Lunch</h4></th>
              <th class="appointment-with"><h4>Afspraak met</h4></th>
              <th class="appointment-by"><h4>Door</h4></th> 
              <tr> 
                <td><h4>12:30</h4></td>  
                <td><h4>Cafetaria de Tramhalte</h4></td> 
                <td><h4>Bas van Wijk</h4></td>
                <td><h4>Casper</h4></td>
              </tr>
          </table>
          </div>
        </div>
      </li>
    </ul>
  </div>
    <div class="items-this-month">
    <h3>Deze Maand</h3>
    <ul class="overview-today">
      <li class="item">
        <div class="check">
        </div>
        <div class="item-wrapper"> 
          <div class="table-container">
          <table>
              <th class="appointment-date"><h4>12-12-2017</h4></th>
              <th class="appointment-type"><h4>Lunch</h4></th>
              <th class="appointment-with"><h4>Afspraak met</h4></th>
              <th class="appointment-by"><h4>Door</h4></th> 
              <tr> 
                <td><h4>12:30</h4></td>  
                <td><h4>Cafetaria de Tramhalte</h4></td> 
                <td><h4>Bas van Wijk</h4></td>
                <td><h4>Casper</h4></td>
              </tr>
          </table>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
