<rmts-header></rmts-header>
<add-status-modal (onButtonClicked)="completeAddStatusModal()" *ngIf="addStatusModalVisible == true"></add-status-modal>
<add-action-modal (onButtonClicked)="completeAddActionModal()" *ngIf="addActionModalVisible == true"></add-action-modal>
<edit-action-modal [currentId]="currentActionId" (onButtonClicked)="completeEditActionModal()" *ngIf="editActionModalVisible == true"></edit-action-modal>
<edit-status-modal [currentId]="currentStatusId" (onButtonClicked)="showModal()" *ngIf="editStatusModalVisible == true"></edit-status-modal>
<div class="settings-wrapper">
  <!---->
  <div class="container">
    <div class="col-md-6 ">
      <h1>Statussen</h1>
      <!--Search + Add-->
      <input type="text" class="memver-search-bar material-search settings-search" [(ngModel)]="statusSearchText" placeholder="Zoek...">
      <div class="material-button add-setting clickable" (click)="addStatusModalVisible = true">+</div>
      <!--Items-->
      <ul class="settings-items">
        <li class=item *ngFor="let status of statuses | settingsFilterPipe : statusSearchText">
          <h4 class="item-description">{{status.content}}
            <a (click)="deleteStatus(status.id)" class="fa fa-trash item-icons clickable" aria-hidden="true"></a>
            <a (click)="showEditStatus($event)" [id]="status.id" class="fa fa-pencil item-icons clickable" aria-hidden="true"></a>
          </h4>
        </li>
      </ul>

    </div>
    <div class="col-md-6 ">
      <h1>Activiteiten</h1>
      <!--Search + Add-->
      <input type="text" class="memver-search-bar material-search settings-search" [(ngModel)]="actionSearchText" placeholder="Zoek...">
      <div class="material-button add-setting" (click)="addActionModalVisible = true">+</div>
      <!--Items-->
      <ul class="settings-items">
        <li class=item *ngFor="let action of actiontypes | settingsFilterPipe : actionSearchText">
          <h4 class="item-description">{{action.content}}
            <a (click)="deleteAction(action.id)" class="fa fa-trash item-icons clickable" aria-hidden="true" [id]="action.id"></a>
            <a (click)="showEditAction($event)" [id]="action.id" class="fa fa-pencil item-icons clickable" aria-hidden="true"></a>
          </h4>
        </li>
      </ul>
    </div>
  </div>
  <br>
  <br>
</div>
